.group-list{
  border: 1px solid lightgray;
  border-radius: 8px;
  flex: 1 auto;
  flex-direction: column;
  height: fit-content;
  margin: 8px 0;
  padding-bottom: 4px;
}

.group-park{
  display: flex;
}

.group-park-name{
  display: flex;
  padding: 8px 0 8px 12px;
  text-align: left;
  width: 85%;
}

.group-park-link{
  width: 15%;
}

.group-park:not(:last-child){
  border-bottom: 1px dashed lightgray;
} 

.half-column{
  min-width: 48%;
  margin: 0 1%;
}

.country-list-div{
  width: 98%;
  margin: 16px 1%;
}

.group-name{
  /* text-align: left; */
  padding: 8px 0 8px 8px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}

@media screen and (min-width: 780px) {
  .country-list-div{
    display: flex;
    flex-wrap: wrap;
  }
}